body {
    font-family: Arial;
    padding: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 250px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

.errorMsg {
    color: red;
    font-size: 14px;
}

.valid {
    border-color: green !important;
}

.invalid {
    border-color: red !important;
}

button {
    padding: 10px 20px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
