body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.product-container {
    width: 450px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

.filter-buttons {
    margin-bottom: 15px;
}

.filter-btn {
    padding: 8px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.filter-btn:hover {
    background: #005fcc;
}

#productSearch {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #ccc;
    margin-bottom: 15px;
}

#productList li {
    background: #eee;
    padding: 10px;
    margin-bottom: 7px;
    border-radius: 5px;
    list-style: none;
}
