body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
    padding: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background: #f2f2f2;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteBtn {
    padding: 5px 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
      