body {
            font-family: Arial;
            text-align: center;
            margin-top: 40px;
        }

        #todoList {
            list-style: none;
            padding: 0;
        }

        li {
            background: #f2f2f2;
            margin: 10px auto;
            padding: 10px 20px;
            width: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
        }

        button {
            background: rebeccapurple;
            color: white;
            border: none;
            padding: 5px 8px;
            cursor: pointer;
        }